{%- set filebeat = salt['pillar.get']('filebeat', {}) %}
filebeat:
  prospectors:
{%- set log_paths = filebeat.get('log_paths', ['/var/log/auth.log', '/var/log/syslog']) %}
{%- for log_path in log_paths %}
    -
      paths:
{%- for path in log_path.paths %}
        - {{ path }}
{%- endfor %}
      input_type: {{ log_path.get('input_type', 'log') }}
      document_type: {{ log_path.get('document_type', 'syslog') }}
      ignore_older: {{ log_path.get('ignore_older', '24h') }}
      scan_frequency: {{ log_path.get('scan_frequency', '10s') }}
      backoff: {{ log_path.get('backoff', '1s') }}
      max_backoff: {{ log_path.get('max_backoff', '10s') }}
      backoff_factor: {{ log_path.get('backoff_factor', '2') }}
      force_close_files: {{ log_path.get('force_close_files', 'false') }}
      fields_under_root: {{ log_path.get('fields_under_root', 'false') }}
      close_older: {{ log_path.get('close_older', '1h') }}
{%- if 'multiline' in log_path %}
      multiline:
        pattern: "{{ log_path.multiline.get('pattern', '') }}"
        negate: {{ log_path.multiline.get('negate', 'false') }}
        match: {{ log_path.multiline.get('match', 'after') }}
{%- if 'include_lines' in log_path %}
      include_lines: ["{{ log_path.include_lines|join('", "') }}"]
{%- endif %}
{%- if 'exclude_lines' in log_path %}
      exclude_lines: ["{{ log_path.exclude_lines|join('", "') }}"]
{%- endif %}
{%- endif %}
{%- if 'fields' in log_path %}
      fields:
{%- for field in log_path.fields %}
{%- for key, value in field.items() %}
        {{ key }}: {{ value }}
{%- endfor %}
{%- endfor %}
{%- endif %}
{%- endfor %}

  registry_file: /var/lib/filebeat/registry

output:
{%- set elasticsearch = filebeat.get('elasticsearch', {}) %}
{%- set logstash = filebeat.get('logstash', {}) %}

{%- if filebeat.elasticsearch.get('enabled', False) %}
  elasticsearch:
    hosts: ["http://{{ filebeat.elasticsearch.server }}"]
{%- endif %}

{%- if filebeat.logstash.get('enabled', False) %}
  logstash:
    hosts: ["{{ filebeat.logstash.server }}"]
    worker: 1
    loadbalance: true
    index: filebeat

{%- if 'tls' in filebeat.logstash %}
{%- if filebeat.logstash.tls.get('enabled', False) %}
    tls:
      certificate_authorities: ["{{ filebeat.logstash.tls.ssl_cert_path }}"]
{%- endif %}
{%- endif %}
{%- endif %}

shipper:

logging:
  files:
    rotateeverybytes: 10485760 # = 10MB
